.shopify-wc-connect-shortcode-buttons {
    margin: 15px 0 5px 160px;
}

#shopify-wc-connect-shortcode {
    min-height: 85px;
    border-color: #ddd;
    background: #efefef;
}

.shopify-wc-connect-modal-wrap .secp-modal-secondpage .secp-modal-content .secp-show-label:first-child {
    opacity: 0.5;
}

#advanced_product_data .hide_if_external {
	display: none !important;
}

#linked_product_data .options_group .form-field {
	display: none;
}

#linked_product_data .options_group .form-field:first-child {
	display: block;
}

#woocommerce-product-data .hndle label:first-child {
	border-right: 0;
}
